<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Spring Boot</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Tienda de Don Pepe</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/register}">Register</a>
        </li>-->
      </ul>
    </div>
  </div>
</nav>
<br /><br />
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
        <div th:if="${param.error}">
            <div class="alert alert-danger">Usuario no válido o clave no válida</div>
        </div>
        <div th:if="${param.logout}">
            <div class="alert alert-success">Se ha cerrado la sesión</div>
        </div>
      <div class="card">
        <div class="card-header">
          <h2 class="text-center">Formulario de inicio de sesión</h2>
        </div>
          <div class="card-body">
            <form
              method="post"
              role="form" class="form-horizontal"
              th:action="@{/login}">
              
              <div class="form-group mb-3">
                  <label class="control-label">Usuario</label>
                  <input type="text" id="username" name="username" class="form-control"
                  placeholder="Ingresar Usuario" />

              </div>

              <div class="form-group mb-3">
                <label class="control-label">Clave</label>
                <input type="password" id="clave" name="clave" class="form-control"
                 placeholder="Ingresar Clave" />

              </div>

        		 <div class="form-group mb-3">
                  <button type="submit" class="btn btn-primary">Ingresar</button>
                    <!-- <span>¿No estás registrado?
                      <a th:href="@{/register}">Registrate aquí</a>
                  </span>-->
              </div>

            </form>

          </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>